apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: netobserv-ebpf-agent
  labels:
    k8s-app: netobserv-ebpf-agent
spec:
  selector:
    matchLabels:
      k8s-app: netobserv-ebpf-agent
  template:
    metadata:
      labels:
        k8s-app: netobserv-ebpf-agent
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: netobserv-ebpf-agent
        image: localhost/ebpf-agent:test
        securityContext:
          privileged: true
          runAsUser: 0
        env:
          - name: EXPORT
            value: ipfix+udp
          - name: CACHE_ACTIVE_TIMEOUT
            value: 200ms
          - name: LOG_LEVEL
            value: debug
          - name: HOST
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: PORT
            value: "9999"
        volumeMounts:
            - name: bpf-kernel-debug
              mountPath: /sys/kernel/debug
              mountPropagation: Bidirectional
      volumes:
        - name: bpf-kernel-debug
          hostPath:
            path: /sys/kernel/debug
            type: Directory
